<style>
body{
    margin:0;
    font-family:"Times New Roman", serif;
    background:url("https://i.pinimg.com/736x/1f/c8/4c/1fc84cdd2ee8c49c5ff6777778e9d97a.jpg") no-repeat center fixed;
    background-size:cover;
}

/* ===== HEADER ===== */
header{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(90,60,40,0.95);
    padding:15px 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:1000;
}

header h1{
    color:#fff;
    margin:0;
    font-size:26px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 12px;
    font-size:18px;
}

nav a:hover{
    text-decoration:underline;
}

/* ===== TIÊU ĐỀ ===== */
.title{
    margin-top:120px;
    text-align:center;
    color:#fff;
    background:rgba(0,0,0,0.4);
    padding:40px;
}

.title h2{
    font-size:40px;
    margin:0;
}

.title p{
    font-size:22px;
    margin-top:10px;
}

/* ===== SECTION ===== */
section{
    background:rgba(255,255,255,0.92);
    margin:50px auto;
    width:85%;
    border-radius:15px;
    padding:30px;
}

.content{
    display:flex;
    align-items:center;
    gap:30px;
}

.content img{
    width:45%;
    border-radius:12px;
}

.content p{
    width:55%;
    font-size:18px;
    line-height:1.8;
    text-align: justify;
    text-indent: 30px;
}


/* ĐẢO CHIỀU ĐỐI XỨNG */
.reverse{
    flex-direction:row-reverse;
}

section h3{
    color:#5a3c28;
    font-size:32px;
    font-weight:bold;
    border-left:6px solid #5a3c28;
    padding-left:15px;
}

/* ===== FOOTER ===== */
footer{
    text-align:center;
    background:rgba(90,60,40,0.95);
    color:white;
    padding:20px;
    font-size:16px;
}
</style>